<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dragger2.demo">



    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.fragatation.ThirdActivity"
            android:label="ThirdActivity"/>
        <activity android:name=".activity.fragatation.TwoActivity"
            android:label="TwoActivity"/>
        <activity android:name=".activity.fragatation.FourActivity"
            android:label="FourActivity"/>
        <activity android:name=".activity.fragatation.FourBctivity"
            android:label="FourBctivity"/>
        <activity android:name=".activity.customview.CustomBtnActivity"
            android:label="CustomBtnActivity"/>
        <activity android:name=".activity.customview.RoundViewGroupActivity"
            android:label="RoundViewGroupActivity"/>
        <activity android:name=".activity.recyclerview.SimpleXRecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.delegatemvp.TestDelegateMvpActivity"/>
        <activity android:name=".activity.glideapp.GlideAppActivity"/>
        <activity android:name=".activity.customview.BubbleLayoutActivity"/>
        <activity android:name=".activity.customtablayout.TabLayoutHomeActivity"/>
        <activity android:name=".activity.customtablayout.SlidingTabActivity"/>
        <activity android:name=".activity.customtablayout.CommonTabActivity"/>
        <activity android:name=".activity.customtablayout.SegmentTabActivity"/>
    </application>

</manifest>